.input {
  margin: 20px;
  .inputBoxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .inputButton {
    width: 75px;
    background: rgb(227, 255, 229);
    color: rgb(0, 216, 0);
    font-weight: bold;
  }
}
