.input {
  margin: 20px;
  color: white;

  .inputBoxes {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .corectInput {
      color: green;
    }
    .wrongInput {
      color: red;
    }
  }
  .inputButton {
    width: 75px;
    background: rgb(227, 255, 229);
    color: rgb(0, 216, 0);
    font-weight: bold;
  }
}
