table {
  table-layout: fixed;
  border-collapse: collapse;
  tr {
    border-bottom: 2px solid black;
  }
  td {
    word-wrap: break-word;
  }
}
.contentTable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(63, 63, 63);
  .contentTitles {
    font-weight: bold;
  }
}

.corect {
  color: green;
}
.wrong {
  color: red;
}
