.box {
  margin: 20px;
  border: 1px solid #4caf50;
  display: flex;
  justify-content: space-around;
  .uniName {
    font-weight: bold;
    font-size: 25px;
    flex-grow: 7;
  }
  .uniAge {
    font-size: 20px;
    flex-grow: 2;
  }
  .uniColour {
    flex-grow: 1;
  }
}

.contentTable {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  .contentTitles {
    font-weight: bold;
  }
}
